.hide {
    display: none;
}

#canvas0 {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 user-select: none;
}

.outline {
    background-color: black;
    padding: 1px;
    margin:2px;
}

.outline:hover {
    background-color: orange;
}

.outline-active {
    background-color: red;
    padding: 3px;
    margin:0px; 
}

.hover-group:hover .hover-toggle{
    display:block;
}

.affect {
    font-size: 1.3em;
}

.code {
    display: none;
    position: fixed;
    right: 19%;
}

.num {
    font-size: 0.7em;
    
}

.labels12 {
    width: 500px;
}

.labels42 {
    width: 900px;
}

.taskbox {
    background-color: white;
    width: 900px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}

.likert {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
}

.likert-extreme{
    font-size: .7em;
    color: #aaaaaa;
}

textarea {
    width: 100%;
    height: 125px;
}

.forward{
   z-index:2;
}

body {
    background-color: #aaaaaa;
}

.box {
    background-color: white;
    width: 600px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}

.center {
    text-align: center;
}

.ui-tooltip {
    display:none;
    width:115px;
    font: 13px "Helvetica Neue", Sans-Serif;
}

#canvas {
    width: 100%;
    height: 100%;
}
.inline {
    display: inline-block;
}
.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 50px solid red;
	border-right: 50px solid transparent;
}

.triangle-topright {
	width: 0;
	height: 0;
	border-top: 50px solid red;
	border-left: 50px solid transparent;
}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 50px solid red;
	border-right: 50px solid transparent;
}

.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 50px solid red;
	border-left: 50px solid transparent;
}

.squareblack {
	width: 10px;
	height: 10px;
	background: black;
}

.squarewhite {
	width: 10px;
	height: 10px;
	background: white;
}

.squaresbackground {
	width: 34px;
	height: 12px;
	background: black;
}

.toprow, .bottomrow{
	position:relative;
	top:0px;
	left:0px;
	width: 106px;
	background-color: white;
}
.toprow {
	height: 52px;
}

.bottomrow {
	height:54px;
}

#legend {
	position:absolute;
	top:360px;
	left:250px;
}

.historic {
	position:absolute;
	top:0px;
	left:0px;
}

.current {
	position:absolute;
	top:0px;
	left:11px;
}

.auto {
	position:absolute;
	top:0px;
	left:22px;
}

.FTT , .FFT {
	position:absolute;
	left:0px;
}

.FFT {
        top:4px;  
}

.FTT {
    	top:0px;
}

.FTTtext {
	position:absolute;
	top:0px;
	left:10px;
}

.FTTbackground {
	position:absolute;
	top:5px;
	left:5px;
}

.FTTsquares {
	position:absolute;
	top:6px;
	left:6px;
}

.FFTsquares {
	position:absolute;
	top:86px;
	left:6px;
}

.FFTbackground {
	position:absolute;
	top:85px;
	left:5px;
}

.FFTtext {
	position:absolute;
	bottom:0px;
	left:10px;
}


.TTT, .FTF {
	position:absolute;
	top:2px;
	left:2px;
}

.TTTtext {
	position:absolute;
	top:20px;
	left:30px;
}

.TTTsquares {
	position:absolute;
	top:85px;
	left:70px;
}

.TTTbackground {
	position:absolute;
	top:84px;
	left:69px;
}

.FTFsquares {
	position:absolute;
	top:5px;
	left:70px;

}

.FTFbackground {
	position:absolute;
	top:4px;
	left:69px;
}

.FTFtext {
	position:absolute;
	top:-1px;
	left:30px;
}

.TFT, .FFF {
	position:absolute;
	top:2px;
	left:54px;
}

.TFTsquares {
	position:absolute;
	top:85px;
	left:116px;
}

.TFTbackground {
	position:absolute;
	top:84px;
	left:115px;
}

.FFFsquares {
	position:absolute;
	top:5px;
	left:116px;
}

.FFFbackground {
	position:absolute;
	top:4px;
	left:115px;
}


.TFTtext {
	position:absolute;
	top:20px;
	left:60px;
}

.FFFtext {
	position:absolute;
	top:-1px;
	left:60px;
}

.TTF, .TFF {
	position:absolute;
	left:56px;
}

.TTF {
	top:0px;
}

.TFF {
    top:4px;
}
        
.TTFsquares {
	position:absolute;
	top:5px;
	left:180px;
}

.TTFbackground {
	position:absolute;
	top:4px;
	left:179px;
}


.TFFsquares {
	position:absolute;
	top:85px;
	left:180px;
}

.TFFbackground {
	position:absolute;
	top:84px;
	left:179px;
}

.TTFtext {
	position:absolute;
	top:0px;
	right:10px;
}

.TFFtext {
	position:absolute;
	bottom:-1px;
	right:10px;
}